
html {
    text-align: left;
}

h1, h2, h3 {
    text-align: left;
}

body {
    background: white;
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background: white;
    padding-left: 50px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


tbody td {
    font-size: 10px;
}


/*======================================================================================*/
/*======================================================================================*/
/*ACERVO*/
/*======================================================================================*/
/*======================================================================================*/
.acervo-separador {
    border: solid 1px lightgray;
    margin-right: 15px;
}

.acervo-menu-esquerda {
    padding-left: 0px;
    padding-right: 0px;
}

.acervo-menu-direita {
    height: 599px;
    padding: 0px;
}

.acervo-reserva-locacao {
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 25px;
}

.acervo-navegacao {
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.acervo-categorias {
    border-right: solid 1px lightgray;
    padding: 25px;
}

/*======================================================================================*/
/*======================================================================================*/
/*HOME*/
/*======================================================================================*/
/*======================================================================================*/
.home-alignment {
    text-align: center;
}

.logo-small {
    float: left;
    padding-top: 8px;
    padding-right: 20px;
    margin-left: 20px;
}

.logo-large {
    padding-bottom: 30px;
}

.jumbotron h1 {
    font-size: 63px;
    text-align: center;
    color: dodgerblue;
    text-shadow: 10px 8px 8px #333;
}



.btn {
    background-color: steelblue;
    color: #fff;
    border-radius: 60px;
}

.btn-lg {
    font-size: 28px;
    width: 40%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    background-color: dodgerblue;
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .active.btn-default, .open .btn-default.dropdown-toggle {
    background-color: dodgerblue;
    color: #fff;
}
/*======================================================================================*/
/*======================================================================================*/
/*CADASTRO DE LIVROS*/
/*======================================================================================*/
/*======================================================================================*/

.register-form-content {
    padding-left: 30px;
    padding-top: 30px;
}

.cadastro-Livros-partial {
    padding: 10px;
    font: 12px arial, verdana, helvetica, sans-serif;
    height: 599px;
    padding-left: 10px;
}

    .cadastro-Livros-partial input[type=text], input[type=number], select {
        margin-bottom: 10px;
        width: 600px;
    }
/*======================================================================================*/
/*======================================================================================*/
/*Consulta DE Livros*/
/*======================================================================================*/
/*======================================================================================*/

.book-partial {
    padding: 10px;
    font: 12px arial, verdana, helvetica, sans-serif;
    height: 599px;
    padding-left: 10px;
}

.book-table {
    margin-bottom: 0px;
    border-spacing: 0px;
    width: 100%;
}

.books-list {
    height: 400px;
    overflow-y: scroll;
    margin-left: 0px;
    margin-right: 0px;
}

.book-filter {
    padding-bottom: 10px;
}

/*======================================================================================*/
/*======================================================================================*/
/*CADASTRO DE USUARIOS*/
/*======================================================================================*/
/*======================================================================================*/

.cadastro-usuario-partial {
    background-color: #f9f9f9;
    padding: 10px;
    font: 12px arial, verdana, helvetica, sans-serif;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

    .cadastro-usuario-partial input[type=text], select {
        margin-bottom: 10px;
        width: 600px;
    }



/*======================================================================================*/
/*======================================================================================*/
/*LISTA DE USUARIOS*/
/*======================================================================================*/
/*======================================================================================*/
.user-table {
    margin-bottom: 0px;
    border-spacing: 0px;
}

.user-list {
    height: 400px;
    overflow-y: scroll;
    border: solid 1px lightgray;
}


.user-filter {
    padding-bottom: 10px;
    border: solid 1px lightgray;
    margin-bottom: 10px;
}

    .user-filter div label {
        padding-left: 10px;
    }

    .user-filter label {
        padding-left: 10px;
    }

/*======================================================================================*/
/*======================================================================================*/
/*Validações*/
/*======================================================================================*/
/*======================================================================================*/
.validation {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

.validationSelect {
    float: right;
    color: red;
    margin-right: 454px;
    padding-top: 24px;
}

/*======================================================================================*/
/*======================================================================================*/
/*Book Reserve*/
/*======================================================================================*/
/*======================================================================================*/
.book-reserve-partial {
    padding-left: 10px;
    padding-top: 10px;
}
/*======================================================================================*/
/*======================================================================================*/
/*Loan Books*/
/*======================================================================================*/
/*======================================================================================*/
.book-loans-partial {
    padding-left: 10px;
    padding-top: 10px;
}
/*======================================================================================*/
/*======================================================================================*/
/*Book Deliveries*/
/*======================================================================================*/
/*======================================================================================*/
.book-delivery-partial {
    padding-left: 10px;
    padding-top: 10px;
}