@{
    ViewBag.Title = "CONTATO";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="container-partials">

    <div class="contato-usuario-partial" id="contato-usuario-partial">
        <div class="container-fluid" id="contato-usuario-partial-container">
            @using (@Html.BeginForm("SendSugestion", "Home", FormMethod.Post, new { id = "contatoRegister-fmr", @class = "form-inline" }))
            {
                <div class="row" id="Opinion">
                    <div class="col-lg-6">
                        <h3>Deixe sua opinião:</h3>
                    </div>
                    <div class="col-lg-8">
                        <textarea name="opiniao" class="form-control sugestion" id="opinion" data-val-required="Deixe sua opiniao." data-val-length-max="500" data-val-length="The field Opinion must be a string with maximum length of 300." data-val="true" value=""> </textarea>
                        <span class="field-validation-valid validation" data-valmsg-replace="true" data-valmsg-for="Opinion"></span>
                    </div>
                </div>
                <div style="margin-top:15px">
                    @if (TempData["sugestionMessage"] != null)
                    {
                        <input type="submit" class="btn btn-default" id="sugestionAction" value="Temp[]" />
                    }
                    else
                    {

                        <input type="submit" class="btn btn-default" id="sugestionAction" value="Enviar" />
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="row" id="address">
    <div class="col-lg-6">
        <p></p>
        Av Tégula, 888<br />
        Ponte Alta, Atibaia - Edifício Cristal<br />
        <abbr title="Phone">P:</abbr>
        11-4417-7200 - Ramal: 7221

    </div>
</div>
@Scripts.Render("~/bundles/jquery")
