@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIBLIOTECA SMART  SMARTBOOKS</h1>
    <p class="lead">Página em construção, para saber mais contacte o RH.</p>
</div>

<!--@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>-->

    <p><a href="http://" class="btn btn-primary btn-lg">Doe um livro </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SMARTBOOKS</h2>
        <p>
            Consulte nosso acervo e conheça os títulos disponíveis para locação!
        </p>
        <p><a class="btn btn-default" href="http://">Encontre um livro </a></p>
    </div>
    <div class="col-md-4">
        <h2>Livros mais procurados!</h2>
        <p>Saiba quais são os livros mais procurados em nosso acervo!</p>
        <p><a class="btn btn-default" href="http://">Mais lidos </a></p>
    </div>
    <div class="col-md-4">
        <h2>Sugestões!</h2>
        <p>Títulos a serem comprados ou melhorias que você gostaria de ver em nossa biblioteca!</p>
        <p><a class="btn btn-default" href="http://">Dê sua opinião </a></p>
    </div>
</div>