@model POC_MVC_Biblioteca.ViewModels.AllUsersViewModel

<table class="table">
  <tr>
    <th></th>
  </tr>
  @if (!Model.UserList.Any())
  {
      <tr>
        <td>
          <p>Nao existem usuarios cadastrados</p>
        </td>
      </tr>
  }
  @foreach (var item in Model.UserList)
  {
      <tr>
        <td>
          <p>@Html.DisplayFor(d => item.Name)</p>
        </td>
      </tr>
  }

</table>

