@model POC_MVC_Biblioteca.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
}
<section id="Usuario">
  <div>
    <h2>Clientes</h2>
  </div>
  <div id="cliente-navegacao" class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs">
        @if (User.IsInRole("Administrator"))
        {
            <li class="active"><a data-toggle="tab" data-navigation-partial="@Url.Action("UserNavigation", "User", new { partialViewName = "_UserList" })">Listar Usuários </a></li>
        }
        <li><a data-toggle="tab" data-navigation-partial="@Url.Action("UserNavigation", "User", new { partialViewName = "_UserRegister" })">Cadastrar Usuários</a></li>
      </ul>
    </div>
  </div>
  <div id="container-partials">
    
        @if (User.IsInRole("Administrator"))
        {
          Html.RenderAction("UserNavigation", "User", new { partialViewName = Model.PartialName, time = DateTime.UtcNow });
        }
        else
        {
          Html.RenderAction("UserNavigation", "User", new { partialViewName = "_UserRegister", time = DateTime.UtcNow });
        }
  </div>
</section>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/App/Common.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    Navigation($("a[data-navigation-partial]"), $("#container-partials"));
  });
</script>
